{% extends "routeplanner/base.html" %}
{% load static %}
{% block main %}
<div class="row side_bar">
    <div id="side_navibar">
        <div class="nav_item" id="journey">
            <img src="./static/img/journey.webp" alt="nav_item_journey" class="nav_img">
            Journey
        </div></a>
        <div class="nav_item" id="stops">
            <img src="./static/img/stop.webp" alt="nav_item_stop" class="nav_img">
            Stops
        </div></a>
        <div class="nav_item" id="routes">
            <img src="./static/img/route.webp" alt="nav_item_route" class="nav_img">
            Routes
        </div></a>
        <div class="nav_item" id="leapcard">
            <img src="./static/img/leapcard.webp" alt="nav_item_leapcard" class="nav_img">
            Leap Card
        </div></a>
    </div>

    <div class="col-12 col-md order-md-2" id="map"><input type="image" src="./static/img/my_location.png"
            id="my_location_btn" alt="my_location_btn"></div>
    <div id="sidebar" class="col-12 col-md order-md-1"></div>
    <div class="col-12 order-md-3" id="mobile-show-content">
        <img src="./static/img/up-arrow-yellow.png" class="mx-auto d-block" id="show-content-arrow" alt="up-arrow">
    </div>
</div>

<div class="container" id="bottom-navibar">
    <div class="row" id="resp-sidebar-menu">
        <div class="bottom_nav_item" id="bottom-journey">
            <img src="./static/img/journey.webp" alt="nav_item_journey" class="nav_img">
            <div>Journey</div>
        </div>
        <div class="bottom_nav_item" id="bottom-stops">
            <img src="./static/img/stop.webp" alt="nav_item_stop" class="nav_img">
            <div>Stops</div>
        </div>
        <div class="bottom_nav_item" id="bottom-routes">
            <img src="./static/img/route.webp" alt="nav_item_route" class="nav_img">
            <div>Routes</div>
        </div>
        <div class="bottom_nav_item" id="bottom-leapcard">
            <img src="./static/img/leapcard.webp" alt="nav_item_leapcard" class="nav_img">
            <div>Leap Card</div>
        </div>

        <!-- <div class="bottom_nav_item" id="bottom-favourite">
            <img src="./static/img/star.png" alt="favourite" class="nav_img">
            <div>Favourite</div>
        </div> -->
    </div>
</div>



{% endblock main %}

{% block js %}
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c9fbc84e-3695-4ff4-9754-113ab9f7d3b1" data-blockingmode="auto" type="text/javascript"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBavSlO4XStz2_RD_fUBGwm89mQwGwYUzA&libraries=places" async
    defer></script>
<script type="text/javascript" src="{% static 'routeplanner/cookiemonster.js' %}" id="script" ></script>
<script src="{% static 'routeplanner/routes.js' %}" async defer></script>
<script src="{% static 'routeplanner/stops.js' %}" async defer></script>
<script src="{% static 'routeplanner/journey.js' %}" async defer></script>

<script src="{% static 'routeplanner/home.js' %}"  async defer></script>
<script src="{% static 'routeplanner/favourite.js' %}" async defer></script>
{% endblock %}