body {
  background: #fafafa;
  color: #333333;
}

a {
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit; 
}

.site-header {
  height: 80px;
  background-color: #ffbf00;
  color: black;
  font-size: 30px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3); ;
  position: relative;
  z-index: 99999;
  
}

.content_header {
  height: 70px; 
  padding: 10px;
  font-size: 30px;
  background-color: #ffbf00;
}

#map {
  max-height: 100vh;
  overflow-y: hidden;
  height: 900px;
}

#navibar {
  background-color: #606060;
}

#content {
  background-color: white;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9999;
}

.item {
  height:50px;
  overflow:hidden;
  color:#fff;
  text-align: center;
  padding: 20px;
  height: 15%;
}

.item:hover {
  background-color: #ffbf00 ;
  color: black;
}