html, body {
  background: #fafafa;
  color: #333333;
  height: 100%;
}

/* main {
  height: 100%;
} */

a {
  color: black;
}

/* ==== Header ==== */
#header_content {
  margin: 0 auto; 
  width: 80%;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit; 
}

#site_icon {
  height: 80px;
  line-height: 80px;
  vertical-align: center;
}

.site-header {
  height: 80px;
  background-color: #ffbf00;
  color: black;
  font-size: 30px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3); ;
  position: relative;
  z-index: 99999999;
}

.weather {
  height: 80px;
  line-height: 80px;
  vertical-align: center;
}

div.weather#temp {
  font-size: 40px;
}

div.weather#description {
  font-size: 20px;
}

#weather_img {
  height: 80px;
}

/* ==== Sidebar ==== */
.sidebar_header {
  font-size: 30px;
  background-color: #ffbf00;
  margin: auto;
  width: 100%;
  padding: 10px;
}


.gray-box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.dark-gray-box {
  background-color: rgba(0, 0, 0, 0.705);
  padding: 10px;
}

.light-yellow-box {
  background-color: #ffbf00;
  padding: 10px;
}

.black_box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#journey_search_div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#edit_journey_input {
  border-top: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 10px 25px;

}

#map {
  max-height: 100vh;
  overflow-y: hidden;
  height: 900px;
}

#leap-info {
  color: #ffbf00;
}

#navibar {
  background-color: #606060;
}

.sidebar {
  height:calc(100vh - 80px);
  overflow:scroll;

}

.content {
  background-color: white;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
  width: 100%;
  margin: 0px;
  height: calc(100vh - 80px);
  overflow-y:auto;
  overflow-x: hidden;
}

#sidebar {

  width: 430px;
  -ms-flex: 0 0 430px;
  flex: 0 0 430px;
  padding:0px;
}


#journey_result_content {
  padding: 15px;
}


.verticalLine {
  border-left: thick solid #ff0000;
  left: 50%;
}

.circle {
  background: lightblue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#stop-button {
  margin: 2px;
  padding: 2px 8px;
}

/* form */

.form-table {
  width: 100%;
  margin: 10px 0px;
} 

.form-table td { 
  height: 50px;
  margin: 8px 0px;

} 

.form-input {
  width: 100%;
  height: 80%;
}


/* ==== Navigation bar ==== */

#side_navibar {
  background-color: #797878;
  width: 90px;
  height: calc(100vh - 80px);
}

#bottom-navibar {
  background-color: #797878;
  width: 100vw !important;
  height: 60px;
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


.nav_item {
  overflow:hidden;
  text-align: center;
  padding: 20px;
  height: 15%;
  color: black;
  min-height: 100px;
}


.bottom_nav_item  {
  overflow:hidden;
  text-align: center;
  height: 60px;
  width: 25%;
}

.nav_item:hover, .bottom_nav_item:hover {
  background-color: #aaaaaa67;
  transition: 0.2s ease-in-out;
}

.nav-active{
  background-color: #ffbf00;
  font-weight: bold;
}


.nav_img {
  height:60%;
  max-height: 27px;
  margin-top: 5px;
}



/* ==== Map ==== */
#map {
  height: calc(100vh - 80px);
  overflow-y: hidden;
}

#my_location_btn {
  position: absolute;
  bottom: 50px;
  width: 80px;
  height: 80px;
  right: 20px;
  padding: 10px;
  z-index: 400000;
  border-radius: 50%;
  box-shadow: 2px 4px 4px 4px rgba(0,0,0,0.26);

}


#mobile-show-content { 
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  display: none;
  height: 53px;
  background-color: #797878;
  bottom: 58px;
  z-index: 9000;
}


#show-content-arrow{
  height: 40px;
  margin: auto;
  width: 20vw;
}

/* ==== Dropdown element ==== */

.dropdown-toggle { 
  background-color: white; 
  color: #333333;
}

/* ==== Button element ==== */
.btn-primary {
  background-color: deepskyblue;
  border-style: none;

}

/* ==== search bar ====  */
#stops_area {
  border: 0px; 
  border-bottom: 1px solid #ccc;
  margin: 2px 0px;
}


/* ==== Other elements ==== */

#stopsListGroup {
  max-height:800px;
  overflow:auto;
}

.route-active {
  background-color: #ffe391;
  pointer-events: auto;
}
.route-loading {
  background-color: #b9b9b9;
  pointer-events: none;
}

.route-loading-span {
  padding-left: 40px ;
  padding-top: 4px;
}

#route-stops-title{
  padding: 10px 0px 10px 40px;
  display: inline-block;

}

#back-to-routes{
  margin-top: 5px;
  margin-left: 30px;
}
.direction-buttons{
  margin-top: 12px;
  margin-left: 30px;
  margin-bottom: 8px;
}
.btn-outline-warning {
  color: black !important;
}


#route-stop-div {
  display: none;
}

.stops-list {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.stop-item {
  padding: 5px 5px;
}


#timetable-modal {
  top: 10%;
}


.journey_result_icon {
  width: 20px;
}

.route-heading {
  margin: 0px;
  padding-left: 25px;
  padding-bottom: 0px;
}

#route-filter {
  width: 95%;
  margin-left: 15px;
}







/* CSS for when the page is less than 768px */
@media (max-width: 768px) { 
    #sidebar {
      width: 100vw;
      box-shadow: 5px 0 5px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1000;
      height: auto;
      padding-bottom: 60px;
    }

    #side_navibar {
      display:none;
    }
    .content {
      width: 100vw;
      height: auto;
      /* overflow-x: visible; */
      overflow-y: visible;
    }


    #map {
      
      height: 0px;
      overflow-y: hidden;
    }



    #bottom-navibar {
      position: fixed;
      display: block;
      min-width: 100vw !important;
      bottom: 0;
    }


 }

@media (max-height: 475px) { 
  .nav_img {
    display: none;
  }
  .nav_item {
    padding: 10px;
    min-height: 40px;
  }
}






/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Styling for even number list-item */
/* .list-group-item:nth-child(odd) { 
  background-color: white;
}

.list-group-item:nth-child(even) { 
  background-color: #f5f5f5;
} */

.list-group-item {
  width: 100%;
  border: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(236, 236, 236);
}

#stops_area, #route-filter  {
  border: 0px;
}



/* Dont show any bullets front of list-item */
li {
  list-style: none;
}
