html, body {
  background: #fafafa;
  color: #333333;
  height: 100%;
}

main {
  height: 100%;
}

a {
  color: black;
}

/* ==== Header ==== */
#header_content {
  margin: 0 auto; 
  width: 80%;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit; 
}

#site_icon {
  height: 80px;
  line-height: 80px;
  vertical-align: center;
}

.site-header {
  height: 80px;
  background-color: #ffbf00;
  color: black;
  font-size: 30px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3); ;
  position: relative;
  z-index: 99999;
}

.weather {
  height: 80px;
  line-height: 80px;
  vertical-align: center;
}

div.weather#temp {
  font-size: 40px;
}

div.weather#description {
  font-size: 20px;
}

#weather_img {
  height: 80px;
}

/* ==== Sidebar ==== */
.sidebar_header {
  height: 70px; 
  font-size: 30px;
  background-color: #ffbf00;
}

.sidebar {
  height: 100vh;
  overflow:scroll;
}


/* ==== Navigation bar ==== */

#side-navibar {
  background-color: #606060;
  width: 90px;
  height: calc(100vh - 80px);
}

#bottom-navibar {
  background-color: #ffbf00;
  width: 100vw !important;
  height: 60px;
  display: none;
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


#content {
  background-color: white;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9000;
  width: 100%;
  height: calc(100vh - 80px);
  overflow:auto;
}

#sidebar {
    width: 430px;
}


/* ==== Map ==== */
#map {
  height: calc(100vh - 80px);
  overflow-y: hidden;
}



.nav_item {
  height:50px;
  overflow:hidden;
  color:#fff;
  text-align: center;
  padding: 20px;
  height: 15%;
}


.bottom_nav_item  {
  overflow:hidden;
  color:#fff;
  text-align: center;
  height: 60px;
  width: 25%;
}

.nav_item:hover, .bottom_nav_item:hover {
  background-color: #aaaaaa67;
  color: black;
  transition: 0.2s ease-in-out;
}

.nav-active{
  background-color: #ffbf00 ;
  color: black;
  font-weight: bold;
}

/* ==== Dropdown element ==== */

.dropdown-toggle { 
  background-color: white; 
  color: #333333;
}

/* ==== Button element ==== */
.btn-primary {
  background-color: deepskyblue;
  border-style: none;
}

/* ==== Other elements ==== */

#stopsListGroup {
  max-height:800px;
  overflow:auto;
}


/* CSS for when the page is less than 955px */
@media (max-width: 955px) { 
    #sidebar {
      width: 100vw;
      box-shadow: 5px 0 5px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 9000;
      height:calc(100vh - 80px - 60px);
    }

    #content {
      height:calc(100vh - 80px - 60px);
    }


    #map {
      display: none;
      height: calc(100vh - 80px - 60px);
      overflow-y: hidden;
    }

    #side-navibar {
      display: none;
    }

    #bottom-navibar {
      display: block;
      min-width: 100vw !important;
    }


 }
