{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <!-- datetime picker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'routeplanner/main.css' %}">

    {% if title %}
    <title>Dublin Bus - {{ title }}</title>
    {% else %}
    <title>Dublin Bus</title>
    {% endif %}
</head>

<body>
    <!-- Weather icon html-->
    <header class="site-header">
        <div id="header_content">
            <div class="row">
                <div class="col-8" id="site_icon">
                    <a href="{% url 'routeplanner' %}">
                        <h1 id="site_icon">buus</h1>
                    </a>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 weather">
                            <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" id="weather_img">
                        </div>
                        <!-- <div class="col-3 weather" id="temp">
                            {{ weather.temperature }}°C
                        </div>
                        <div class="col-7 weather" id="description">
                            {{ weather.description }}

                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="container-fluid" id="main">
        {% block main %}
        {% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Twitter Javascript for Widget JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- datetime picker -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Font Awesome html Icons -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin="anonymous"></script>


    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>


    <script>
        // congif firebase
        var firebaseConfig = {
            apiKey: "AIzaSyBccB26eAhyKwgAKTV6A39VL-YuGPaSjM0",
            authDomain: "dublinbus-dfbfc.firebaseapp.com",
            databaseURL: "https://dublinbus-dfbfc.firebaseio.com",
            projectId: "dublinbus-dfbfc",
            storageBucket: "dublinbus-dfbfc.appspot.com",
            messagingSenderId: "587026003778",
            appId: "1:587026003778:web:d00bc8c285c4e7fd847adb",
            measurementId: "G-VP5HD590NV"
        };

        //  Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const analytics = firebase.analytics();

    </script>


    {% block js %}

    <script src="{% static 'routeplanner/base.js' %}"></script>
    {% endblock %}

    <!-- Modal (pop-up box) for timetables -->
    <div class="modal fade" id="timetable-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="timetable-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="timetable-body">
                    <nav>
                        <div class="nav nav-tabs" id="timetable-tabs" role="tablist">
                        </div>
                    </nav>
                    <div class="tab-content" id="timetable-content">
                    </div>
                    <div class="spinner-grow text-secondary" style="margin:auto;" id="timetable-loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="modal-body container" id="trip-timetable">
                    <div class="spinner-grow text-secondary" style="margin:auto; display: none;" id="trip-loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <table id="trip-timetable-table" style="display: none;" class="table table-striped table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Stop Name</th>
                                <th style="text-align: center;">Timetable</th>
                                <th style="text-align: center;">Prediction</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="actual-times">

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>