{% load static %}

<div id="content">
    
    <div class="col">
        <div class="row sidebar_header">
            <div class="col">
                Journey
            </div>            
        </div>
        <div class="row">
            <div id="journey_search_div" class="col">
                <form name="journeyForm" id="journeyForm" method="POST">

                    <!-- origin input row -->
                    <div class="form-group row">
                        <label for="inputFromStop" class="col-sm-3 col-form-label">From: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="form_input" name="f_from_stop" required="required" placeholder="Origin">
                        </div>
                    </div>

                    <!-- destination input row -->
                    <div class="form-group row">
                        <label for="inputToStop" class="col-sm-3 col-form-label">To: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="to_input" name="f_to_stop" required="required" placeholder="Destination">
                        </div>
                    </div>
                    
                    <!-- departure datetime picjer input row -->
                    <!-- datetimepicker is not working in safari -->
                    <div class="form-group row">
                        <label for="datetime" class="col-sm-3 col-form-label">Departure: </label>
                        <div class="col-sm-9">
                            <!-- <input type="datetime-local" id="datetimePicker" required="required" name="datetime"> -->
                            <input  class="datetimeInput" id="datetimePicker" required="required" name="datetime">
                        </div>
                    </div>
                    
                     
                    <!-- Cross Site Request Forgery protection-->
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary float-right"></input>
                </form>

                <div class="spinner-grow text-secondary" style="margin:auto;" id="journey-loader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

            </div>

            <!-- Journey Planner result  -->
            <div id="journey_result_div" class="col ">
                <div class="row gray_box" id="journey_result_header">
                    <div class="col">
                        <div class="row">
                            <div class="col-4"> <b>From:</b> </div>
                            <div class="col-8" id="journey_result_from"></div>
                        </div>
                        <div class="row">
                            <div class="col-4"> <b>To:</b> </div>
                            <div class="col-8" id="journey_result_to"></div>
                        </div>
                        <div class="row">
                            <div class="col-4"> <b>Departure:</b> </div>
                            <div class="col-8" id="journey_result_datetime"></div>
                        </div>
                    </div>
                </div>
                <div class="row gray_box" id="edit_journey_input"> <i style='font-size:20px' class='fas'>  &#xf304;</i> &nbsp;&nbsp; Change Input</div>
                <div class="row" id="journey_result_content">
                    <!-- Showing total duration and other detail -->
                    <div class="col">
                        <h2><div class="row" id="journey_result_travel_time"></div></h2>
                        <div class="row" id="journey_result_detail"></div>
                    </div>
                </div>

                <!-- steps of the journey -->
                <div class="accordion" id="journey_result_steps"></div>
            </div>
        </div>
        <div class="black_box">
            <a class="twitter-timeline" data-width="500" data-height="500" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Twitter Updates by Dublin Bus</a><!-- Twitter Timeline -->
        </div>
    </div>
    <script src="{% static 'routeplanner/journey.js' %}" id="script"></script> 
</div>