{% extends "routeplanner/base.html" %}
{% block content %}

<div class="col-3" id="content">
    <div class="row content_header">
        <div class="col">
            Leap Card
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" >
                <b>Leap card account information:</b></br></br>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
    <div>
        <h2 id="leap-info">Card:</h2> 
        <h4>{{ result.card }}</h4>
        <h2 id="leap-info">Balance: </h2> 
        <h4>{{ result.balance }}</h4>
    </div>
</div>
<div class="col-8" id="map"></div>

{% endblock content %}
</html>