{% extends "routeplanner/base.html" %}
{% block content %}

<div class="col-3" id="sidebar">
    <div class="row sidebar_header">
        <div class="col">
            Leap Card
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <b>Leap card account information:</b></br></br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="col-9" id="map"></div>

{% endblock content %}

</html>