{% extends "routeplanner/base.html" %}
{% block content %}

<div class="col-3" id="sidebar">
    <div class="row sidebar_header">
        <div class="col">
            Routes
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            <div class="active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Find a route" aria-label="Search">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">route</li>
                <li class="list-group-item">route</li>        
                <li class="list-group-item">route</li>
            </ul>
        </div>
    </div>
</div>


<div class="col-9" id="map"></div>

{% endblock content %}

</html>