
{% load static %}

<div id="content">

    <div class="col">
        <div class="row sidebar_header">
            <div class="col">
                Stops
            </div>
        </div>
        <div class="row">
            <div class="col p-0">
                <div class="active-cyan-4 mb-4">
                    <input class="form-control" id="stops-loc" type="text" placeholder="See Stops by Area" aria-label="Search">
                    <button class="btn btn-outline-secondary">Go</button>
                </div>

                
                <ul class="list-group-flush p-0 vh-100" id="stopsListGroup">

                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'routeplanner/stops.js' %}" id="script"></script> 
</div>


