
{% load static %}

<div id="content">

    <div class="col">
        <div class="row sidebar_header">
            <div class="col">
                Stops
            </div>
        </div>
        <div class="row">
            <div class="col p-0">
                <div class="active-cyan-4 mb-4">
                    <input class="form-control" type="text" placeholder="Find a stop" aria-label="Search">
                </div>

                <a href='#'><i class='far fa-star star'></i></a>
                <ul class="list-group-flush p-0 vh-100" id="stopsListGroup">

                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'routeplanner/stops.js' %}" id="script"></script> 
</div>


